* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}


.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  background: #5c6bc0;
  color: white;
  font-size: 24px;
  padding: 20px;

  display: flex;
  justify-content: center;
}

main {
  background: white;
  padding: 0 30px;

  .page-title {
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
  }

  .content {
    display: flex;

    section {
      flex: 1;
    }

    aside {
      background: red;
      min-width: 250px;
    }
  }

}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      border-bottom: 3px solid #eee;

      th {
        text-align: left;
        padding-bottom: 10px;
        text-transform: uppercase;
        color: #5c6bc0 ;
      }
      th span{
        background-color: #ffccbc;
        padding: 4px 8px;
        border-radius: 4px;
      }
    }
  }

  tbody {}
}